body{
    
    background-color: rgba(40, 36, 59, 0.315);
   
}

header {
    background-color: #333; 
    color: #ffffff; 
    padding: 20px; 
    text-align: center; 
}

h4{
    text-align: center;
}


h3 {
    font-size: 24px; 
    text-align: center;
}

p{
    text-align: center;
}


header nav ul {
    list-style: none;
    padding: 0;
}

header nav li {
    display: inline;
    margin-right: 20px; 
}

header nav a {
    text-decoration: none;
    color: #fff; 
}

h1 {
    text-align: center;
}

#mov1{
    position: absolute;
    max-width:110px;
    max-height:110px;
    width: auto;
    height: auto;
    left:1rem;
    top:1rem ;
}